<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>127285274346-dcuq0j76kh689me10bef8g06tduhkuli.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.127285274346-dcuq0j76kh689me10bef8g06tduhkuli</string>
	<key>API_KEY</key>
	<string>AIzaSyAR454X31AUwp-Bv9BXfuEYzLngHn7jqNo</string>
	<key>GCM_SENDER_ID</key>
	<string>127285274346</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ayopemiluMobile</string>
	<key>PROJECT_ID</key>
	<string>ayopemilu-id</string>
	<key>STORAGE_BUCKET</key>
	<string>ayopemilu-id.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:127285274346:ios:4de47e258f3d693d0b1993</string>
</dict>
</plist>